.clients {
    background-color: #000;
}

.clients__wrap {
    text-align: center;
    padding: 100px 0 200px 0;
    color: #fff;
}

.clients__title {
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 300;
}

.clients__title span {
    font-weight: 600;
}

.clients__brand img {
    margin-top: 10px;
    margin-left: 30px;
}