.container {
    max-width: 1200px;
    margin: 0 auto;
}


*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;}


ul li {
    list-style: none;
}


:root {
    --color-main: #fcac45;
};

